

@media all and  (max-width: 762px){


    .container-txt-deczno{
        
        width: 100%;
        
    }



    .top-image {
        display: flex;
        align-items:left;
        width: 100%;
        left:-100px;
        
        
        
    }

    
    .top-image .imgtop{
        
        width: 100%;
    }



    .container-txt-deczno{
        
        box-sizing: border-box;
        padding-top: 1px;
        padding-left:30px;
        padding-right:10px;
       
        
    }

    .container-txt-deczno .wd-img{
        width:120%;
    }

    .img-fotykola-min{
        display: flex;
       
        order:1;
  
        
    }




   

    h1{
        font-size:36px;
    }

    p{
       font-size:16px; 
    }

    

  

    .txt-box{
        display: flex;
        flex-direction: column;
        justify-content: center;
        order:3;
        display:none;
       
    }

    .txt-box-min{
        display:flex;
        justify-content: center;
        flex-direction: column;
        margin-top:30px;
        padding:0 10px 10px 10px;
    }



    .conatiner-second{
        display: flex;
        flex-direction: column;
        margin-top:120px;
    
    }

    .container-second-left{
   order:3;
   width:100%;
        order:2;
        text-align: center;
    }

    .container-second-left-txt{
        margin-top:1px;
        padding-left:0;
        z-index: 99;
         }

    .container-second-right{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        width:100%;
       order:1;
    }

    .img-bilety{
        margin-top:-100px;
        order:2;
        width:50%;
        
    }
    .img-fotykola{
        display: none;
    
  
        
    }

  
 

    .container-brzeg-gora-img{
        display: flex;
        justify-content: center;
        margin-top: -10%;
        
        z-index: 1;
        
        }

        .container-blue-txt{
            display: flex;
            flex-direction: column;
            
            
        }

        .container-blue-text-box{
            padding-top:20px;
            
        }

        .container-img-brzeg-dol{
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-top: -10px;
            background-color:#289abc;
            
        }

        .zapraszamypng{
            margin-top:20px;
            width:50%;
            
        }



        .conatainer-footer{
            flex-wrap: wrap;
            width:100%;
            justify-content: center;
            align-items: center;
            
        }

        .container-footer-left{
            width:100%;
            text-align: center;
            padding: 10px;
        }

        .container-footer-right{
            width:100%;
            text-align: center;
            padding: 10px;
        }

        .container-footer-info{
            width:97%;
            padding:10px 10px 10px 10px;
           
        }


}