@media all and (max-width: 967px){


    .container-second-left{
        position: relative;
        top:-50%;
       
    }

    .container-second-right{
        position: relative;
top:100px;

    }
}

@media all and (max-width: 781px){

    
    .container-second-left{
        position: relative;
        top:-50%;
        
        
    }

    .container-second-right{
        position: relative;
top:100px;

    }
}


@media all and (max-width: 520px){


    .container-txt-deczno{
        
        width: 100%;
        flex-wrap: wrap;
    }

    .top-image {
        display: flex;
        align-items:left;
        width: 100%;
        left:-100px;
        
        
    }

    .top-image .imgtop{
        position: relative;
        
        left:-10px;
        width: 60%;
    }

    .container-txt-deczno{
        
        box-sizing: border-box;
        padding-top: 1px;
        padding-left:10px;
        padding-right:10px;
       
        
    }


    .txt-box{
        width: 100%;
        order:2;
        margin-top:-50px;
        padding:1px 10px 1px 1px;
        text-align: center;
        
        justify-content: center;
    }

    h1{
        font-size:36px;
    }

    p{
       font-size:16px; 
    }

    

    .container-txt-deczno .wd-img{
        order:1;
        top:-55%;
        left:100px;
        width:70%;
        
    }
    .conatiner-second{
    width:100%;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-self: center;
    border:solid;
    
    }

    .container-second-left{
        order: 1;
        text-align: center;
        box-sizing: border-box;
        width:100%;
        z-index: 3;
        
        color:red;
        padding-left: 0;
        border:solid;
    }

    .container-second-right{
        display: flex;
        justify-content: center;
        flex-direction: column;
        width:100%;
        box-sizing: border-box;
        
    }

    .img-bilety{
        justify-content: center;
        align-self: center;
        z-index: 2;
        width:50%;
        margin-top:-40px;
        
        
        
    }
    .img-fotykola{
    
        position: relative;
        order:1;
        top:-790px;
        left:33%;
        width:60%;
        
        z-index: 66;
        
    }

    .container-brzeg-gora-img{
        display: flex;
        justify-content: center;
        position: relative;
        top:-670px;
        z-index: 1;
        
        }

        .container-blue-txt{
            margin-top:-670px;
            
            
        }

        .container-blue-text-box{
            padding-top:20px;
            
        }

        .container-img-brzeg-dol{
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-top: -10px;
            background-color:#289abc;
            
        }

        .zapraszamypng{
            margin-top:20px;
            width:50%;
            
        }



        .conatainer-footer{
            flex-wrap: wrap;
            width:100%;
            justify-content: center;
            align-items: center;
            
        }

        .container-footer-left{
            width:100%;
            text-align: center;
            padding: 10px;
        }

        .container-footer-right{
            width:100%;
            text-align: center;
            padding: 10px;
        }

        .container-footer-info{
            width:97%;
            padding:10px 10px 10px 10px;
           
        }


}